<!DOCTYPE html>
<html>
<head>
    <title>Knitting</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
</head>

<body>
    <ul>
        <li><a href="/">Main</a></li>
        <li><a href="/photography">Photography</a></li>
        <li><a href="/knitting">Knitting</a></li>
        <li><a href="/Developer">Developer</a></li>
        <li><a href="#knitting-shop">Knitting Shop</a><li>
    </ul>
    <h1>About</h1>
    <h1><div id="knitting-shop">Knitting Shop</div></h1>
</body>
</html>